{% extends 'base.html' %}

{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'stylesheets/index.css' %}">
{% endblock %}

{% block title%}
  home
{% endblock%}


{% block content %}
<div class="my-container">
  {% if request.user.is_authenticated %}
    <h1>{{request.user.username}}~좋아하는~랜덤~영화!🎰</h1>
  {% else %}
    <h1>당신이~좋아하는~랜덤~영화!🎰</h1>
  {% endif %}
  <img src="{% static 'stylesheets/play.gif' %}" alt="실행화면" class="play-img">
  {% if request.user.is_authenticated %}
  <div class="login-form1">
    <a href="{% url 'game:play_game' %}">
      <button>시작하기</button>
    </a>
  </div>
  {% else %}
  <div class="login-form1">
    <a href="{% url 'accounts:login' %}">
      <button>로그인 후 사용하기</button>
    </a>
  </div>
  {% endif %}
</div>
{% endblock%}
